@font-face {
    font-family: 'Sen';
    src: url("Sen/Sen-VariableFont_wght.ttf")
}

@font-face {
    font-family: 'Yeseva_One';
    src: url("Yeseva_One/YesevaOne-Regular.ttf");
}

@font-face {
    font-family: 'Cousine';
    src: url("Cousine/Cousine-Regular.ttf");
}

@font-face {
    font-family: 'TeXGyreCursor';
    src: url("texgyrecursor/texgyrecursor-regular.otf");
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url("JetBrains_Mono/JetBrainsMono-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat';
    src: url("Montserrat/Montserrat-Regular.ttf");
}

* {
    font-family: "Montserrat", sans-serif !important;
}
